{# name: apc
# info: Australian Press Council Advisory Guideline: Reporting on persons with diverse sexual orientation, gender identity, and sex characteristics
# author: Australian Press Council
# link: https://presscouncil.org.au/wp-content/uploads/2023/02/Advisory-Guideline-Reporting-on-persons-with-diverse_CURRENT.pdf 
# date-retrieved: 2025-09-08 #}

Persons with diverse sexual orientation, gender identity, and sex characteristics should be treated with respect. This Advisory Guideline aims to promote informed reporting on, and increased understanding of, persons with diverse sexual orientation, gender identity and sex characteristics — and on issues relating to those persons — as well as provide guidance on several of the Council’s General Principles and Privacy Principles. It therefore aims to assist journalists and publications to improve standards of reporting so as not to exacerbate, even inadvertently, particular concerns faced by such persons. Adherence to this guideline will help safeguard against unfair reporting. Unfair or inaccurate reporting of persons with diverse sexual orientation, gender identity, and sex characteristics and issues related to them — including the use of prejudicial and/or offensive language — can have adverse mental health outcomes and harmful implications. 

## Scope and definitions 

This Advisory Guideline covers the reporting of lesbian, gay, bisexual, trans, gender diverse, intersex, asexual, non-binary and queer persons, communities and issues relevant to these members of Australian communities. The Press Council intends this Advisory Guideline to cover: 

(1) persons with diverse sexual orientation including: 
(a) persons who identify as gay, lesbian, bisexual, queer or pansexual
(b) persons with diverse sexual orientation who do not identify using these terms including same-sex attracted men and same-sex attracted women 
(c) asexual persons who do not experience sexual attraction 

(2) persons with diverse gender identity whose gender identity differs from sex/gender assigned at birth, whether or not they have undergone any medical transition including: 
(a) non-binary persons who may not identify as either male or female 
(b) transgender women (assigned male at birth) and transgender men (assigned female at birth) 
(c) persons who use other terms associated with gender diversity including culturally-specific terms such as Indigenous brotherboys and sistergirls. 
Other terms associated with this population include “trans” and “gender diverse”. The term “transsexual” is often perceived as dated or pejorative. “Dead naming” refers to the use of an individual’s former name." A current clinical term is “gender dysphoria”. “Misgendering” refers to the use of pronouns that do not match the individual’s identity. 

(3) persons with diverse characteristics. These include persons born with (innate) variations of sex characteristics ie intersex persons and persons who acquire diverse sex characteristics through medical interventions, including gender transition. Intersex persons are born with physical or biological sex characteristics (such as sexual anatomy, reproductive organs, hormonal patterns and/or chromosomal patterns) that do not fit the typical definitions for male or female bodies. Intersex people are typically assigned female or male at birth.  Many intersex traits are determinable prenatally via genetic screening. For some intersex people these traits are apparent at birth, while for others they emerge later in life, often at puberty. Other terms associated with this population include the clinical term “differences of sex development” and an array of specific diagnostic terms. The terms ‘hermaphrodite” and “disorders of sex development” are frequently perceived as pejorative. 

Terminology in this area has continued to evolve over recent decades; certain words are under linguistic scrutiny and new nomenclature (and research) is emerging. Certain terms may be offensive to some individuals with lived experience but not offensive to others. And this can change over time. In addition, people from diverse cultural backgrounds, including Indigenous persons, may use different terminology. Journalists are encouraged to allow persons they interview to identify themselves.

Despite the evolution of terminology noted above and the difficulties this may pose for editors and journalists, these Guidelines aim to assist better reporting by signalling, among other things, that sexual orientation, gender identity and sex characteristics are distinct concepts. People with diverse sexualities and gender identity and people born with variations of sex characteristics are not a homogenous group, and therefore care needs to be taken not to assume that any material potentially relevant to persons in one group is automatically relevant to all groups, nor to assume that a person from one group is necessarily a spokesperson for others. 

For example, intersex people have a diverse range of gender identities and sexual orientations but note that intersex infants and children do not have the age or capacity to freely express an identity. 

## Context and relevance

Reference to a person’s sexual orientation, gender identity, and/or sex characteristics should be relevant to a story and in the public interest. 

For example, it may be relevant and appropriate: 
- in an article about a person who has consented to the disclosure of that information as part of telling their story;
- as part of an article examining a relevant issue about sexual orientation, gender identity or people born with variations of sex characteristics;
- when the story cannot be told without reporting that a relevant person had a particular sexual orientation, gender identity or experience, or was born with a variation of sex characteristics.
However, it may not be relevant in the context of reporting on the identity of a person accused of committing a crime unless:
- it has been submitted in court proceedings that the person’s sexual orientation or gender identity is, or sex characteristics are, directly or indirectly relevant. When such details are tendered as relevant evidence in court, they are then matters of public record;
- a person’s sexual orientation or gender identity is, or sex characteristics are, either directly or indirectly relevant to the investigation of a crime or form part of police descriptions of suspects. 

Consideration especially needs to be given to headlines, and the immediate impressions that are conveyed to the general community, who may not always read the detail of an article or opinion. 

Salacious, overly prominent, and irrelevant references to a person’s sexual orientation, gender identity, sex characteristics (including that a person was born with variations of sex characteristics) — particularly in headlines — can cause or contribute to prejudice especially when those attributes are linked to alleged or actual criminal activity. 

## Accuracy

Publications must take reasonable steps to ensure that factual material in news reports and elsewhere is accurate and not misleading (General Principle 1) and that factual material is presented with reasonable fairness and balance, and that writers’ expressions of opinion are not based on significantly inaccurate factual material or omission of key facts (General Principle 3). 

Reasonable steps to ensure accuracy could include ensuring that articles are based on credible and relevant research and statistics, consulting peak or representational bodies (noting that different groups have different peak or representational bodies), interviewing persons with lived experience and experts qualified to speak on particular issues (noting that different kinds of expertise are available), and drawing evidence-based conclusions. Taking these steps is particularly important when reporting on sensitive health issues such as HIV status and transmission risk, standards of care and treatment for trans and gender diverse children and adolescents, the gender affirmation processes a trans or gender diverse person may undergo, forced medical interventions on intersex infants and children and pre-natal and pre-conception screening to eliminate intersex traits.  

The need for accuracy is paramount when reporting on trans or gender diverse children, and intersex infants and children. 

Accurate reporting on statistics entails publications being clear as to which particular groups of persons the statistics relate. For example, in reporting on statistics on health outcomes (such as HIV status, suicide rates, drug use, etc) there are particular issues where the health outcomes for gay, lesbian and bisexual people are quite different and it would be therefore inaccurate to group lesbian, gay and bisexual people together in the reporting of such outcomes. 

Persons with sensitive health issues have commented on how distressing it is to have such health issues reported in an inaccurate manner.  

Accurate reporting is essential to dispel misconceptions, for example the misconception that intersex persons are necessarily transgender, non-binary identified, queer or same–sex attracted

## Avoid substantial offence, distress or prejudice or substantial risk to safety 

Publications must take reasonable steps to avoid causing or contributing materially to substantial offence, distress or prejudice, or a substantial risk to health or safety, unless doing so is sufficiently in the public interest (General Principle 6). 

In this regard, publications are advised to:
- refrain from using derogatory or prejudicial language
- avoid using the wrong pronouns, noting that media usage of wrong pronouns can be distressing and disempowering 
- allow persons to state how they identify and, in the case of trans and gender diverse persons, ask them by which name they would like to be referred 
- refrain from reporting on HIV or persons living with HIV in a way that heightens stigma and fear
- not place unwarranted emphasis on sexual orientation, gender identity or sex characteristics 
- refrain from reporting salacious details of a person’s body, for example in the reporting on intersex women in sport or in reporting on a trans or gender diverse person’s transition or how they have affirmed their gender 
- not refer to a person as “currently identifying” as bisexual as this can suggest that a person is going through a ‘phase’, reinforcing the misconception that bisexuality is not a real part of their identity
- not use a trans or gender diverse person’s former name or photo unless they have either provided informed consent or the use of the former name or photo is sufficiently in the public interest or the information is disclosed in a report of open public proceedings and is in the public interest. The act of "dead naming" trans or gender diverse persons and publishing photos of them before they affirmed their gender can cause substantial offence and harm 
- refrain from giving physical descriptions of a person’s sexual orientation, gender identity or sex characteristics that, when read in context of the story, are not relevant 
- refrain from outing a person without their consent unless it is sufficiently in the public interest. There may be ramifications to a person’s safety, health and wellbeing by outing them without their consent. For example, persons of culturally diverse or religious backgrounds can be placed at real risk of harm if they are outed in a publication — especially if it is online
- treat victims of crime who may be of diverse sexual orientation, gender identity or have diverse sex characteristics with the same dignity and sensitivity to be afforded to other victims of crime and, in particular, refrain from victim-blaming in the reporting of sexual or other assaults against such persons. 

The Council condemns unwarranted use of offensive slang, and derogatory or prejudicial terms. However, if someone controversially used such expressions, a publication may well be justified in the public interest in reporting them in direct quotes and in commenting on them in opinion articles. 

## Privacy

Publications must take reasonable steps to avoid intruding on a person’s reasonable expectations of privacy, unless doing so is sufficiently in the public interest (General Principle 5) and seek personal information only in the public interest, not unduly intrude on the privacy of individuals, particularly children, and show respect for the dignity and sensitivity of people encountered in the course of gathering news (Privacy Principle 1). 

It is advisable to clarify the openness and comfort a person has about public reporting on their sexuality, gender identity, intersex status, HIV status, gender history and body. In this regard, it is recommended that journalists avoid asking questions about a person’s genitalia, medical interventions, the identity of biological parents and how their babies were conceived unless directly relevant to the story and sufficiently in the public interest. References to ‘pre- and post-surgery’ are best avoided as are ‘before’ and ‘after’ photos. However, if the person being interviewed is agreeable to such issues being canvassed then the questioning may be acceptable so long as the person is treated with respect and sensitivity. 

## Sources of assistance

When it is appropriate, it is recommended that published material that may distress or trigger trauma for persons with diverse sexual orientation and gender identity or intersex people be accompanied by information about sources of assistance. Neutral phrasing should be used, such as: “If you are affected by this story and want to seek assistance contact …” When appropriate, contact details of local or specialised sources of assistance should be included. 
