VICTIM BLAMING
========
- Don’t reinforce the idea that women should police or modify their own behaviour in order to avoid men’s violence.
- Don’t describe violence as being driven or ‘fueled’ by alcohol or drugs, or connected to mental health, stress, finances, culture, the ‘burden’ of caring for someone with disability, or a perpetrator ‘just snapping.’
- Don’t use language that justifies violence or inadvertently blames the victim for what happened to them, including whether they were drunk, out late at night, walking alone, seeing other people, etc.

    Examples of victim blaming: references to infidelity or drug use, telling women not to walk alone at night or not to drink.

    Exceptions: It is not a violation to report on conflicting accounts of events that are contested in court, or to report on the perpetrator's claims.

TRIVIALISING LANGUAGE AND CORRECT TERMINOLOGY
========
- Don’t sensationalise or trivialise violence, including through the use of overly dramatic language, unnecessary details, gratuitous or disempowering images or inappropriate references or puns.
- Avoid referring to a murder as a 'death' when it is clear that the murder was perpetrated by someone.
- Don't use terms that minimise or trivialise violence (e.g. ‘domestic dispute’, ‘volatile relationship’, or ‘child porn’).
- Avoid referring to a murder as a 'death' when it is clear that the murder was perpetrated by someone.

    Examples of minimising violence: Using "flirting" to describe sexual harassment, or implying that emotional abuse is less serious than physical abuse.
    Examples of trivialising language: calling an abusive/violent relationship an "affair" or "scandal" or "whirlwind relationship".

- When legally possible, use the terms 'violence against women/and their children', 'family violence', 'assault', 'sexual assault', 'elder abuse', 'child abuse', 'child exploitation material', 'rape' or 'murder' if/when charges have been laid and when they apply.

    Examples of using correct terminology: "sexual assault" or "rape" or "domestic violence" instead of "sex", "an argument", "a fight" or "marital problems". 

FOCUS ON PERPETRATOR
========
- Don't focus sympathetically on the perpetrator's narrative
- Focus on the effects of the assault on the victim/survivor.
- Refer to experts on violence against women to put the issue in context. Don’t only rely on the police or judiciary for comment when reporting on violence against women.
- Avoid including a character assessment of the perpetrator from neighbours or friends.
- Also avoid talking about the perpetrator's past or potential achievements or reputation.
- Be cautious about including a character assessment of the perpetrator from neighbours or friends.

    Examples of perpetrator commentary: Using phrases like "he was a loving husband" or "a great father".
    Example of undue focus on perpetrator: stating that he was "a talented athlete" or "school captain", or that the case has affected his reputation.

- Name the current or previous relationship between the survivor and perpetrator (if there is one and you are legally able to).
    Example: the perpetrator was a 'husband', 'ex-partner', or other family member, or that the victim and perpetrator had been colleagues, were dating or were 'in a relationship'.

PASSIVE VOICE
========
- DO NOT: use passive voice to describe violence. Use active language to emphasise that someone perpetrated this violence against a victim.
    Examples of using active language: 'Man murdered woman' (active) should be preferred instead of 'woman was murdered' (passive); 'man punches woman' or 'man punches ex-wife' (active) instead of 'woman punched' or 'ex-wife punched' (passive).

SYSTEMIC FRAMING
========
- DO: Use language and framing that helps the audience understand the evidence that, globally, most violence against women and their children is driven by gender inequality, including through: Excusing or condoning violence against women; Restrictive gender stereotypes (for men and women); Men’s control of decision making and women having less power in public and private lives; Men’s peer groups encouraging disrespect towards women.
- DO: When you can, use state, national, and (if appropriate) global statistics on violence against women to frame the story.
- DO NOT: characterise violence as a one-off incident.

    Example of framing as systemic: talking about the issue within the wider social context of gender equality
    Example: do not refer to violence as a "crime of passion" or a result of jealousy.

INCLUDE SUPPORT INFO
========
- DO: Include support information for people experiencing domestic or family violence or abuse.

    Examples of support info: "If you or someone you know is experiencing family violence, phone 1800 RESPECT"; "For counselling, advice and support for men who have anger, relationship or parenting issues, call the Men’s Referral Service on 1300 766 491".
