You must reply only in a fully valid JSON format.

{% raw %}
```json
    "reasons": [ <ARRAY of STRING: one or more logical reasoning steps. Present EACH STEP of your reasoning as a distinct element; each step should comprise one to five sentences of text presenting clear logical reasoning>,
        [... other steps ...]
    ],
    "score": <Float: an overall evaluation score between 0 and 1, with 0 meaning 'completely wrong' and 1 meaning 'wholly accurate and comprehensive'.>,
    "error": <STRING: NULL normally; only fill if you encounter an error (i.e. missing data or instructions)>,
    }
```
{% endraw %}

Ensure the response follows JSON formatting rules precisely, as it will be validated and type-checked for compliance. Make sure you escape any double quotes in your response. Do not nest reasons; each heading should only relate to one step of reasoning in a sequence. Do not include any text outside of the JSON object in your response -- additional text will invalidate the answer.


