You are required to adhere to the following policy rules when scrutinizing the content: 
- Hateful language and direct attacks are not generally prohibited. 
- Hateful language is prohibited when it targets a person or group of people on the basis of their protected characteristic(s). 

'Protected characteristics' are defined as: race, ethnicity, national origin, disability, religious affiliation, caste, sexual orientation, sex, gender identity and serious disease. We consider age a protected characteristic when referenced along with another protected characteristic. We also protect refugees, migrants, immigrants and asylum seekers from the most severe attacks, though we do allow commentary and criticism of immigration policies. 

It is important to use to use a nuanced understanding to distinguish between critiques of ideas and actions (which can be a legitimate part of political and social discourse) and hate speech that targets individuals based on protected characteristics. It is not prohibited to target people or groups on the basis of their  occupations, affiliations, or actions.

01 VIOLENT SPEECH:
Violent speech is prohibited when targeted at people or groups on the basis of their protected characteristic(s).
- It is not permitted to mock the concept, events or victims of hate crimes, even if no real person is depicted.

02 DEHUMANIZING SPEECH:
It is not permitted to dehumanize people or groups on the basis of their protected characteristic(s).

  - 'dehumanising speech' means comparisons, generalisations, or unqualified behavioural statements, in written or visual form, to or about:
    - Insects (including but not limited to: cockroaches, locusts)
    - Animals in general or specific types of animals that are culturally perceived as intellectually or physically inferior (including but not limited to: Black people and apes or ape-like creatures; Jewish people and rats; Muslim people and pigs; Mexican people and worms)
    - Filth (including but not limited to: dirt, grime)
    - Bacteria, viruses or microbes
    - Disease (including but not limited to: cancer, sexually transmitted diseases)
    - Faeces (including but not limited to: shit, crap)
    - Subhumanity (including but not limited to: savages, devils, monsters, primitives)
    - Sexual predators (including but not limited to: Muslim people having sex with goats or pigs)
    - Violent criminals (including but not limited to: terrorists, murderers, members of hate or criminal organisations)
    - Other criminals (including, but not limited to, "thieves", "bank robbers" or saying "All [protected characteristic or quasi-protected characteristic] are 'criminals'").
    - Certain objects (women as household objects, property or objects in general; Black people as farm equipment; transgender or non-binary people as "it")
    - Statements denying existence (including but not limited to: "[protected characteristic(s) or quasi-protected characteristic] do not exist", "no such thing as [protected charactic(s) or quasi-protected characteristic]")
    - Harmful stereotypes historically linked to intimidation, exclusion or violence on the basis of a protected characteristic, such as Blackface; Holocaust denial; claims that Jewish people control financial, political or media institutions; and references to Dalits as menial labourers

03 SEGREGATION OR EXCLUSION:
Calls for segregation or exclusion of a person or group of people on the basis of their protected characteristics are prohibited.

- 'Segregation' includes calls for action, statements of intent, aspirational or conditional statements, or statements advocating or supporting segregation.

- 'Exclusion' is defined as calls for action, statements of intent, aspirational or conditional statements, or statements advocating or supporting, any of:
    - Explicit exclusion, which means things such as expelling certain groups or saying that they are not allowed.
    - Political exclusion, which means denying the right to political participation.
    - Economic exclusion, which means denying access to economic entitlements and limiting participation in the labour market.
    - Social exclusion, which means things such as denying access to spaces (physical and online) and social services, except for gender-based exclusion in health and positive support groups.

04 GENERALIZATIONS:
It is not permitted to target people or groups on the basis of their protected characteristics with generalisations that state inferiority (in written or visual form) in the following ways:
- Physical deficiencies about:
    * Hygiene, including, but not limited to: filthy, dirty, smelly.
    * Physical appearance, including, but not limited to: ugly, hideous.
- Mental deficiencies about:
    * Intellectual capacity, including, but not limited to: dumb, stupid, idiots.
    * Education, including, but not limited to: illiterate, uneducated.
    * Mental health, including, but not limited to: mentally ill, retarded, crazy, insane.
- Moral deficiencies about:
    * Character traits culturally perceived as negative, including, but not limited to: coward, liar, arrogant, ignorant.
    * Derogatory terms related to sexual activity, including, but not limited to: whore, slut, perverts.
- Expressions about being less than adequate, including, but not limited to: worthless, useless.
- Expressions about being better/worse than another protected characteristic, including, but not limited to: "I believe that males are superior to females."
- Expressions about deviating from the norm, including, but not limited to: freaks, abnormal.

05 CONTEMPT:
It is not permitted to not make expressions of contempt (in written or visual form) that are based on protected characteristics. This includes:
- Self-admission to intolerance on the basis of protected characteristics, including, but not limited to: homophobic, islamophobic, racist.
- Expressions that a protected characteristic shouldn't exist.
- Expressions of hate, including, but not limited to: despise, hate.
- Expressions of dismissal, including, but not limited to: don't respect, don't like, don't care for
- Expressions of disgust (in written or visual form) that relate to any of:
- Expressions suggesting that the target causes sickness, including, but not limited to: vomit, throw up.
- Expressions of repulsion or distaste, including, but not limited to: vile, disgusting, yuck.

06 CURSING:
Cursing is permitted, but it is not permitted to curse about people or groups on the basis of their protected characteristics using any terms that:
- Refer to the target as genitalia or anus, including, but not limited to: cunt, dick, asshole.
- Profane terms or phrases with the intent to insult, including, but not limited to: fuck, bitch, motherfucker.
- Terms or phrases calling for engagement in sexual activity, or contact with genitalia, anus, faeces or urine, including, but not limited to: suck my dick, kiss my ass, eat shit.
It is permitted to use gender-based cursing in a romantic break-up context (including: "My boyfriend cheated on me. Men are such dicks.")

07 SLURS:
- It is not permitted to describe or negatively target people on the basis of their protected characteristics with slurs. 'slurs' are defined as words that inherently create an atmosphere of exclusion and intimidation against people on the basis of a protected characteristic, often because these words are tied to historical discrimination, oppression and violence. They do this even when targeting someone who is not a member of the group that the slur inherently targets.

08 OTHER PROHIBITIONS:
It is prohibited to:
- provide or offer to provide products or services that aim to change people's sexual orientation or gender identity.
- Attack concepts, institutions, ideas, practices, or beliefs associated with protected characteristics in a way that contributes to imminent physical harm, intimidation, or discrimination against people associated with those protected characteristics.
- Target a person or group of people on the basis of their protected characteristic(s) with claims that they have or spread the novel coronavirus, are responsible for the existence of the novel coronavirus or are deliberately spreading the novel coronavirus, or mocking them for having or experiencing the novel coronavirus.

09 EXCEPTIONS:
It is permissible to:
- Use strong language that is not included in these categories.
- Curse and use slurs that are not directed at people or groups on the basis of their protected characteristics.
- Share slurs or someone else's hate speech to condemn it or raise awareness.
- Use slurs and other potential hate speech self-referentially or in an empowering way.
- Use satire to mock or criticize hateful speech.
- Target people or groups that are not based on protected characteristics.
- Target less than half of a group that is based on protected characteristics.
- Target a person or groups described as having carried out violent crimes or sexual offences.
