{# name: hrc
# info: Guidelines from Human Rights Campaign Guide to Reporting on Transgender Individuals
# author: Human Rights Campain
# link: https://www.hrc.org/resources/hrcs-brief-guide-to-reporting-on-transgender-individuals
# date-retrieved: 2024-09-03 #}
Covering transgender people, including those making the very personal decision to transition, can be challenging for reporters unfamiliar with the LGBTQ+ community, and, in particular, the increasingly visible transgender community.

This guide from the Human Rights Campaign (HRC) Foundation, the educational arm of the nation’s largest lesbian, gay, bisexual, transgender and queer (LGBTQ+) civil rights organization, is intended to serve as a primer, a starting point for reporters committed to telling the stories of transgender people accurately and humanely, from appropriate word usage to context that reflects the reality of their lived experience.

Here’s our list of the top eight things reporters covering transgender people should know:

## Number One: Understand what “transgender” means.

*A transgender person, not “transgendered,”* is someone whose sex assigned at birth is different from who they know they are on the inside. It includes people who have medically transitioned to align their internal knowledge of their gender with their physical presentation. But it also includes those who have not or will not medically transition as well as non-binary or gender-expansive people who do not exclusively identify as male or female. Preferred usage includes “transgender people,” “transgender person,” “transgender woman,” “transgender man,” “trans people,” “trans person,” “trans woman,” “trans man,” “non-binary people” or “non-binary person.”

Note: Individuals may also describe their gender with other terms or identifiers; whenever possible, we recommend deferring to how they personally choose to identify. If this includes lesser-known terminology, you may consider the use of clarifying language to respectfully denote their identity (e.g., “NAME, who identifies as genderqueer…”)

## Number Two: Know the difference between “gender identity,” “gender expression” and “sexual orientation.”

*Gender identity* is one’s internal concept of self as male, female, a blend of both, or neither. It includes how individuals perceive themselves and what they call themselves. One’s gender identity can be the same or different from their sex assigned at birth. For many transgender people, their birth-assigned sex and their own sense of gender identity do not match.

*Gender expression* refers to the external appearance of one's gender identity, usually expressed through behavior, clothing, haircut or voice and which may or may not conform to socially defined behaviors and characteristics typically associated with being either masculine or feminine.

*Sexual orientation* refers to emotional, romantic, sexual and relational attraction to someone else, whether you’re gay, lesbian, bisexual, straight or use another word to accurately describe your identity. Refrain from using “sexual preference,” “lifestyle,” “homosexuality,” or “heterosexuality.” For example, some people are transgender and straight, while others are transgender and gay.

## Number Three: Understand what “transition” means.

*Transition* is a process that some transgender people undergo when they decide to live as the gender with which they identify, rather than the one they were assigned at birth. A transgender person transitioning is not “becoming” a man or a woman; they are starting to live openly as their true gender. Transitioning can include medical components such as hormone therapy and surgery. However, not every transition involves medical interventions. And many people can’t pursue them because of cost or health. Recognize that transitioning is a very personal process, and everyone has a right to privacy.

It’s important to understand the level of privacy required of the person that you’re working with. Many people do not share their trans status or gender identity very publicly due to the looming presence of anti-transgender bias and discrimination. If you are writing a story about someone that includes reference to their transgender identity, be sure to obtain explicit consent in order to avoid “outing” somebody and putting them in a dangerous situation.

## Number Four: Know that the process of transitioning isn’t always or just about surgery.

*The process of transitioning* frequently involves affirming one’s gender identity in ways other than or beyond medical components. It involves affirming one’s gender identity through social means -- by changing the pronouns one uses, for example, as well as through legal means including changing one’s name on legal documents like a driver’s license and Social Security card. Changing one’s identity documents is often a complex, time-consuming and sometimes costly process, and some states do not allow transgender people to receive appropriate identity documents that reflect their gender identity. For non-binary people, many cannot have a legal document reflecting their gender identity, which too-often only allows for a “M” or “F” gender marker.

Just as it is with medical-related transition procedures, it is important to be sensitive to privacy when writing about someone who is socially transitioning. Sometimes writing a piece that reflects or reveals an individual’s true identity can put them in harm's way, especially if they have yet to share this information with all desired people in their lives. Best practice is to be transparent with your piece and obtain consent wherever you share information about someone’s transgender identity -- including their name and pronouns.

## Number Five: Respect transgender people by using the names and pronouns they use in daily life.

*Proper names and pronouns* used by the transgender person should be used by others, regardless of their legal name or gender marker on identification documents.

Unfortunately, when reporting on violence against transgender people, some media outlets will misgender transgender victims, disrespecting their identities, causing pain to an already grieving local transgender community and reinforcing the stigma at the center of anti-trans violence. This may sometimes also be the case within statements made by law enforcement agencies or local officials.

If you’re a reporter and not sure, the AP Stylebook advises that you should “use the pronoun consistent with the way the individuals live publicly.” When at all possible, obtain confirmation from the person directly or from those who can confirm how the individual identifies in their daily life. Note that many non-binary individuals use the singular “them” and “their” rather than “she” or “he,” in addition to other pronouns (e.g., ze, zir, etc.). If the individual uses a name different from the one assigned to them at birth, refrain from repeating or publishing that name without their explicit consent, which is sometimes called **deadnaming**.

If you are notified by a transgender person or their loved ones about the use of incorrect names or pronouns, please promptly make corrections that accurately reflect their identity.

## Number Six: Be aware of the reality of many transgender people in the United States and how that can inform the context of your story.

Transgender people in the United States are extraordinarily diverse. They come from every type of community, including rural and urban places, and they represent every race and ethnicity. They pursue a wide range of professions, participate in a variety of religious traditions, and play important roles in families, including as parents. Because prejudice and discrimination are so common, transgender people are far more likely than **cisgender** (i.e., non-transgender) people to be living in poverty, and too many experience homelessness at some point in their lives. This can make them especially vulnerable both to violence and to contact with law enforcement, with or without cause.

So far in 2020, HRC has tracked at least 40 violent deaths of transgender or gender expansive people in the United States, a number that excludes both unreported cases and serious attacks that did not end in death. In the recent past, it was common for media reports on transgender murder victims to emphasize a victim's arrest record (if they had one) in order to suggest -- nearly always inaccurately -- that they were killed because of their own criminal activity or because they deceived their killer about their transgender status.

Thankfully, today many reporters are now respectfully covering transgender people and their identities and avoiding stereotypes and misconceptions that can unintentionally inflame prejudice, discrimination and violence.

## Number Seven: Refrain from contrasting trans men and women with “real” or “biological” men and women.

*Contrasting transgender people* with “real” or “biological” men and women is a false comparison. Transgender people’s gender identities are real, and using this framing can contribute to the inaccurate perception that transgender people are being deceptive or less than equal, when, in fact, they are being authentic and courageous.

## Number Eight: Focus on the whole person.

*Focusing solely on a person’s transition* can make people feel like a specimen, which can erase a person’s humanity. Put the person at the center of your story, in the context of family, friends and daily life. While celebrities are helping increase awareness, there have been transgender people living openly for a very long time, as well as advocates and everyday people working to change hearts and minds in their communities, in government in workplaces and in all facets of society.
