{# name: nlgja
# info: The Stylebook on LGBTQ+ Terminology
# author: NLGJA: The Association of LGBTQ+ Journalists
# link: https://www.nlgja.org/stylebook-on-lgbtq-terminology/
# date-retrieved: 2024-05-27 #}

#LGBTQ+ Terminology Stylebook

**The Stylebook on LGBTQ+ Terminology is intended to complement the prose stylebooks of individual publications, as well as The Associated Press Stylebook, the leading stylebook in U.S. newsrooms, which also has extensive guidance on language around gender, sex and sexual orientation.**

**The Stylebook on LGBTQ+ Terminology reflects our association's mission of inclusive coverage of LGBTQ+ people, includes entries on words and phrases that have become common, and features greater detail for earlier entries.**

## Introduction

This stylebook seeks to be a guide on language and terminology to help journalists cover LGBTQ+ subjects and issues with sensitivity and fairness, without bias or judgment. Because language is always changing, this guide is not definitive or fully inclusive. When covering LGBTQ+ communities, we encourage you to use the language and terminology your subjects use. They are the best source for how they would like to be identified.

## Terms and Definitions

### A

**acting, appearing**
In general, avoid this term that assumes someone's sexual orientation or gender identity is deceptive, incongruous or ingenuine. Example: He was straight-acting.

**AIDS**
See HIV/AIDS.

**agender**
See transgender.

**ally**
A person who supports LGBTQ+ communities and causes but does not personally identify as LGBTQ+. See LGBTQ+.

**asexual**
See LGBTQ+.

### B

**bathroom bill**
Avoid. See transgender.

**biological**
Avoid. See transgender.

**bisexual**
See LGBTQ+.

**breeder**
Avoid this often-pejorative slang that refers to heterosexuals.

### C

**cisgender**
Refers to people whose gender identity aligns with their sex assigned at birth. See more detail under transgender.

**civil union**
See marriage and relationships.

**closeted, in the closet**
Refers to people who wish to keep their sexual orientation or gender identity secret. See coming out; out, outing, openly.

**coming out**
Shorthand for coming out of the closet. Accepting and letting others know of one's previously hidden sexual orientation or gender identity. See closeted, in the closet; out, outing, openly.

**commitment ceremony**
A ceremony that is like a wedding but is not legally binding. See marriage and relationships.

**"conversion therapy"**
The discredited practice of using psychological interventions to change sexual orientation or gender identity. Proponents may also call it reparative therapy or sexual reorientation therapy. Always use quotation marks, and always include the context that the practice has been opposed by the American Psychological Association and other groups of medical and mental health professionals, and that many U.S. states have banned conversion therapy for minors. See "ex-gay".

**cross-dresser**
Preferred term for people who wear clothing most often associated with a different gender, and who describe themselves as such. Do not use the term transvestite unless a person uses it for themself. Not synonymous with transgender or drag performer.

**cruising**
Visiting places where opportunities exist to meet potential sex partners. Not exclusively a gay practice.

### D

**demi**
A prefix used to describe partial identification. Demisexual is a sexual orientation that describes attraction that comes only with emotional bonding. Demigender is an umbrella term describing partial identification with a certain gender and can include some nonbinary people. Examples include demiboy and demigirl.

**domestic partner**
See marriage and relationships.

**don't ask, don't tell**
Shorthand for Don't Ask, Don't Tell, Don't Pursue, Don't Harass, the military's former policy on gay men, lesbians and bisexuals. Under the policy, instituted in 1993 and lifted in 2011, the military was not to ask service members about their sexual orientation; service members were not to tell others about their orientation; and the military was not to pursue rumors about members' sexual orientation. Sometimes abbreviated as DADT.

**down low, DL**
Refers to men who secretly have sex with men. Men on the down low or on the DL may be in relationships with women and not identify as gay or bisexual. The term originated among Black men but has attained wider use. People usually won't describe themselves as DL or down low, so use only in quotations or in broad references. See MSM.

**doxyPEP**
Acceptable shorthand for doxycycline post-exposure prophylaxis, a regimen of antibiotics that can be prescribed after sex to prevent sexually transmitted bacterial infections such as gonorrhea, chlamydia and syphilis. Considered useful for gay and bisexual men and transgender women who have sex with men. There is less evidence about the efficacy of doxyPrEP, shorthand for doxycycline pre-exposure prophylaxis, to prevent infections before sexual encounters occur. See PEP in HIV/AIDS section.

**drag queen, female impersonator**
Drag is the practice of dressing and acting in styles typically associated with another gender, usually exaggeratedly so and for entertainment value. Drag queens portray women and drag kings portray men. Drag performer is the gender-neutral term.

Drag and impersonation are more strongly determined by the nature of the costume and performance than by the performer's gender identity or sex.

Drag is not synonymous with but is sometimes considered a type of male or female impersonation, in which performances may be spoofs of a specific person or character or may be more subdued than a drag performance.

Not synonymous with transgender, though some drag performers may identify as such, or with cross-dresser. See cross-dresser.

**dressed as**
Avoid this phrase, as in He dressed as a girl, which can assume a person's gender identity or be sensationalistic.

**dyke**
Originally a pejorative term for a lesbian, some lesbians have reclaimed it. Offensive when used as an epithet. Use only if the subject uses it or in a quotation if there is a compelling reason to do so. See slang; slurs.

### E

**"ex-gay"**
Describes the movement or adherents of a movement, mostly rooted in conservative religions, that aims to change the sexual orientation of gay, lesbian or bisexual people to straight. Use only in quotation marks, and always include the context that the practice is widely discredited in scientific circles. See conversion therapy.

### F

**fag, faggot**
Pejorative terms for a gay male. Extremely offensive when used as an epithet. Use only in a quotation and if there is a compelling reason. See slang; slurs.

**false balance**
Including opposing views in a story even when doing so is unnecessary or insensitive or would perpetuate falsehoods, or assuming there are only two sides to a story. Sometimes called bothsidesism. Just as journalists should not default to giving a platform to doubters of the scientifically established concept of climate change, they shouldn't automatically give opponents of LGBTQ+ rights a voice unless it furthers the understanding of the issue or story. For instance, a story about legislation related to LGBTQ+ people could quote supporters, opponents and possibly the indifferent. A story about an LGBTQ+ awards ceremony, a hate crime or a person's coming out usually does not require opposing comment. See organization names.

**families, parents**
Differentiate families led by LGBTQ+ parents, and identify the parents' sexual orientation or gender identity, only when relevant. Do not use gay families or similar because it implies all members of the family are LGBTQ+. Mention genetic relationships or conception techniques only when relevant, such as in stories about adoption or in-vitro fertilization. Mother and father are generally the proper terms for LGBTQ+ parents, but because of the blended nature of many families led by such parents, ask story subjects how they wish to be identified. See marriage and relationships.

### G

**gay**
See LGBTQ+; out, outing, openly.

**gay agenda**
Politically charged term used by opponents that suggests LGBTQ+ activists have a unified, conspiratorial, ulterior political motive. Best confined to quotations.

**gay bar**
The widely known and accepted term for establishments that serve alcohol and cater to LGBTQ+ people. Variations like LGTBQ+ bar are also acceptable to be more inclusive but are less conversational and can be inaccurate when used for businesses that cater more directly to, say, a gay or lesbian clientele. If an establishment caters primarily to lesbians, use lesbian bar.

**GLAAD**
An advocacy group that monitors portrayals of LGBTQ+ people in the news media and entertainment. Once an acronym for the Gay & Lesbian Alliance Against Defamation, it now goes only by its initials, pronounced "glad." Do not confuse it with GLAD, a different organization.

**GLAD**
Shorthand for the advocacy group GLBTQ Legal Advocates & Defenders. GLAD is acceptable on subsequent references. Do not confuse it with GLAAD, a different organization.

**groomer, grooming**
Refers to the practice of building trust and eroding boundaries to facilitate the sexual abuse of a child or vulnerable adult. Avoid using these terms, even in quotes, to portray LGBTQ+ people broadly as predators or as "recruiting" people, particularly children. See misleading associations.

### H

**hermaphrodite**
Avoid this term. See intersex.

**heterosexism**
Presumption that heterosexuality is universal and/or superior to homosexuality. Also, prejudice, bias or discrimination based on such presumptions.

**HIV/AIDS**
Since AIDS emerged in gay men in the early 1980s, coverage of LGBTQ+ people has often been intertwined with it and therefore is included in this style guide.

Men who have sex with men remain among the communities most affected by HIV/AIDS, but many other demographics are also disproportionately affected. Moreover, HIV infection is now considered a manageable condition, not the oft-repeated "death sentence" it once was. Coverage and word choice should take these factors into account.

Some guidance on commonly used terms in HIV/AIDS coverage follows:

**AIDS**
Acceptable in all references for acquired immune deficiency syndrome, a medical condition that compromises the human immune system and makes the body vulnerable to infections. Always uppercase the S, which stands for syndrome. AIDS caused by HIV, the human immunodeficiency virus. People may be HIV-positive but not have AIDS. Do not use the term full-blown AIDS. For people who have the condition, use terms like person or people with AIDS or, if the context is medical, AIDS patients, instead of terms such as sufferer or victim, which imply powerlessness.

**antiretroviral therapy**
A regimen of medications to treat HIV and reduce the risk of transmission. Sometimes abbreviated as ART on subsequent references, though the therapy may suffice.

**HIV**
Acceptable in all references for human immunodeficiency virus, the virus that causes AIDS. HIV virus is redundant. HIV-positive means being infected with HIV but not necessarily having AIDS; include the hyphen in all instances for HIV-positive and HIV-negative.

**HIV/AIDS**
Acceptable in all collective references to HIV and AIDS and the conditions that can arise from them.

**HIV disease**
A term used by some HIV/AIDS doctors because there are other types of acquired immune deficiencies caused by toxins or by other diseases.

**HIV-positive, HIV-negative**
Include the hyphen in all instances.

**PEP**
Shorthand for post-exposure prophylaxis, a regimen of medication prescribed to HIV-negative people immediately after their exposure to HIV to stop infection. See doxyPEP.

**PrEP**
Shorthand for pre-exposure prophylaxis, a regimen of medication prescribed to some HIV-negative gay men and other high-risk people to help prevent HIV infection if they are exposed to the virus. Medications may be administered via daily pills or periodic injections. PrEP refers to the regimen, not the medication itself: He is on PrEP, not He took his PrEP with breakfast. It can be considered a form of safer sex, though it does not protect against infections other than HIV.

**homo**
Use only if self-referential or in a quotation if there is a compelling reason. See slang; slurs.

**homophobia**
Fear, hatred or dislike of homosexuality, gay men and/or lesbians. Similar terms are biphobia for bisexuals and transphobia for transgender people. Restrict to relevant usage, such as in quotations, opinions or broad references to the concept. Use LGBTQ+ rights opponents or similar instead of homophobes when describing people who oppose LGBTQ+ people, rights or activism.

**homosexual, homosexuality**
Avoid the obsolete term homosexual to refer to people. Homosexuality is acceptable when a noun is needed for the concept of same-sex attraction. The terms may be most useful when writing about scientific research that uses the terminology to describe sexual activity.

**Human Rights Campaign**
An advocacy group that describes itself as the largest national lesbian, gay, bisexual, transgender and queer civil rights organization. Often abbreviated as HRC.

### I

**intersex (adj.)**
An umbrella term describing people born with sex chromosomes, genitalia and/or a reproductive system not considered standard for either males or females. Parents and physicians usually assign a child born intersex as male or female and may elect for surgery or hormone treatment for the child, a practice many intersex adults seek to end. Refer to specific people as intersex only if they identify as such. Do not conflate intersex with transgender or nonbinary. Differences in sex development may be used in clinical contexts. Avoid disorders of sex development, medical jargon that disregards what some intersex people and doctors say are natural variations. Include specific conditions when relevant, with an explanation: She has Turner syndrome, in which one X chromosome is missing. Avoid the term hermaphrodite unless someone identifies as such, and then explain it is their preference.

### L

**LGBTQ+**
Acceptable in all references for lesbian, gay, bisexual, transgender, queer and/or questioning, and other sexual and gender minorities.

It may be tempting for journalists to refer to the LGBTQ+ community. In reality, it is a broad and sometimes loosely bound group of communities comprising people from all races, religions, cultures and walks of life. Referring to LGBTQ+ people is usually more accurate than defining it as one community.

There is not universal agreement on a name. LGBT leaves out many people who identity in ways that may be similar to but not the same as lesbians, gays, bisexuals and transgender people.

Some alternatives exist but may be less inclusive, more cumbersome or unfamiliar to general audiences and could require explanation. LGBTQ includes people who identify as queer or who are questioning their sexual orientation; LGBTQIA includes intersex, asexual and agender people; LGBTQIA2S+ specifically includes two-spirits and other sexual and gender minorities. Additionally, the order of the initials can be symbolic. Leading with L recognizes the women who have historically been overlooked or maligned. The Canadian government uses 2SLGBTQI+ to honor the two-spirit people who came first.

Writers and organizations should decide for themselves, based on their audience and intent, whether more or less specificity is needed.

Details on some terms commonly used, or misused, in news coverage of LGBTQ+ people follow:

**ally**
Some organizations have intended ally — someone who supports LGBTQ+ communities but does not personally identify as LGBTQ+ — as part of the A in LGBTQIA, but be aware that some people and organizations strongly object to its inclusion.

**asexual**
As a noun or adjective, someone who doesn't experience sexual attraction. More closely associated with sexual orientation than with gender; not synonymous with agender or gender-nonconforming.

**bisexual**
No hyphen. As a noun, a person attracted to one's own gender and an additional one or more genders. As an adjective, of or relating to attraction to one's own gender and an additional one or more genders. Does not presume nonmonogamy. Biphobia is the fear, hatred or dislike of bisexuality or bisexuals and may be harbored by LGBTQ+ people, as well as heterosexuals.

**gay**
Refers to men who are attracted to other men. Do not use as a singular noun: Juan is gay, not Juan is a gay. Acceptable in tight headlines and in quotations to refer collectively to gays and lesbians. See homosexual, lesbian.

**lesbian**
Preferred term, both as a noun and adjective, for women who are attracted to other women. Some women prefer to be called gay instead of lesbian; when possible, ask the subject which term she prefers.

**pansexual**
As a noun, a person attracted to people regardless of gender. As an adjective, of or relating to attraction to people regardless of gender. Does not presume nonmonogamy.

**queer**
Originally a pejorative term for gay, now reclaimed by some LGBTQ+ people. Use with caution; still extremely offensive when used as an epithet and still offensive to many LGBTQ+ people regardless of intent. Its use may require explanation. Sometimes it is meant as an umbrella term synonymous with the abbreviation LGBT and its variations. However, some people who call themselves queer may do so because they find other labels inaccurate or restrictive, so the abbreviation LGBTQ+ includes them. And some straight people who identify with LGBTQ+ culture, such as children of queer parents, call themselves culturally queer.

**transgender**
See entries under separate transgender heading.

**lifestyle**
An inaccurate term sometimes used to describe the lives of gay, lesbian, bisexual and transgender people. Sexual orientation may be part of a broader lifestyle but is not one in and of itself, just as there is no "straight" lifestyle.

### M

**marriage and relationships**
LGBTQ+ people use various terms to describe their romantic and/or legal commitments to another person, and they may vary by sexual orientation, gender identity or personal preference.

If possible, ask subjects which terms they prefer. Some detailed guidance on terms relating to marriage and other relationships for same-sex couples follows:

**bridal**
Industry term that often overemphasizes women engaged to be married, as in bridal expo or bridal registry. Gender-neutral terms such as wedding expo are preferred.

**bride, groom**
Bride/s is acceptable for female members of any couple recently or about to be married. Groom/s is similarly acceptable for male members of such a relationship. If possible, ask the subject or subjects which term they prefer.

**civil union**
Legal status in some U.S. states that provides same-sex couples some rights available to married couples. Several states that offered civil unions stopped doing so when the federal government began recognizing marriage for same-sex couples, but a few still do.

**commitment ceremony**
A weddinglike event in which two or sometimes more people declare their commitment to one another; participants can be of the same or different sexes. Ceremonies may be religiously recognized but are not legally binding.

**Defense of Marriage Act**
The 1996 U.S. law that limited federal marriage recognition to those between one man and one woman; overturned in part by the 2013 Supreme Court case U.S. v. Windsor and in full by the 2015 Supreme Court case Obergefell v. Hodges. Write out on first reference; DOMA is acceptable in subsequent references.

**domestic partner**
Unmarried partners who live together. Domestic partners may be of different sexes or the same sex. They may register in some jurisdictions and receive some of the benefits afforded to married couples. Domestic partner and domestic partnership are typically used in connection with legal and insurance matters, while just partner is more common in personal communication.

**engaged couple**
Acceptable term for a same-sex couple before marriage, and also for different-sex couples. Fiance and fiancee are acceptable if the couples prefer those terms.

**husband**
Acceptable term for a male, married partner of a man. Ask which term the couple prefers, if possible.

**lover**
Some people prefer this gender-neutral term for a sexual or romantic partner. Girlfriend, boyfriend and partner, the latter of which is gender-neutral but may connote cohabitation, are alternatives.

**marriage**
Avoid modifying the word marriage when possible, since there is no legal distinction in the U.S. between same-sex and different-sex marriages. When it is relevant to mention the distinction, marriage for same-sex couples is preferred over same-sex marriage or gay marriage.

**obituaries**
When reporting survivors, list partners of LGBTQ+ deceased in an order equivalent to spouses of heterosexual deceased.

**partner**
A commonly accepted term for a person of any sexual orientation in a romantic relationship, though it may connote a long-term commitment or cohabitation.

**Respect for Marriage Act**
This 2022 federal law repealed the Defense of Marriage Act. Do not abbreviate.

**spouse**
Gender-neutral term that is acceptable in all references to people in a marriage.

**wedding**
Preferred term for a marriage ceremony for same-sex people and to modify activities related to a marriage ceremony, as in wedding registry.

**wife**
Acceptable term for a female, married partner of a woman. Ask which term the subject prefers, if possible.

**misleading associations**
Terms including bestiality, experimental, grooming, mutilation, pedophilia and sodomy are frequently false or defamatory when used in stories about LGBTQ+ issues.

**mpox**
The correct name for the virus previously known as monkeypox. Gay and bisexual men, along with other men who have sex with men, were most at risk in the mpox outbreak of 2022, experts say. Be careful in choosing language to describe the role of gay and bisexual men in the outbreak to avoid stigmatizing them.

**MSM**
Abbreviation for men who have sex with men. It is a behavioral and public health category, used in a medical or scientific context. Does not reference sexual identity and is not synonymous with gay and bisexual men. See down low; mpox.

### N

**NLGJA: The Association of LGBTQ+ Journalists**
An organization of journalists, media professionals, educators and students who work within the news industry to foster fair and accurate coverage of LGBTQ+ issues. It was formed in 1990 as the National Lesbian and Gay Journalists Association and now goes by NLGJA: The Association of LGBTQ+ Journalists. For more information, visit https://www.nlgja.org/about.

**nonbinary**
See transgender.

### O

**obituaries**
See marriage and relationships.

**opposite sex**
Avoid this term that buys into a scientifically obsolete view of sex as binary. Instead use terms like another sex or different gender.

**organization names**
Some groups that oppose or seek to restrict LGBTQ+ rights have benign-sounding names such as the Family Research Council, the American College of Pediatricians and the Women's Sports Policy Working Group. Avoid treating such groups as authorities or using them for false balance; if they must be quoted or mentioned, use unbiased language to describe their mission or actions in addition to their official name. See false balance.

**out, outing, openly**
As a verb, out means revealing the sexual orientation or gender identity of someone against their will. Derived from out of the closet. Example: The actor outed the director in their acceptance speech. As an adjective or adverb, out refers to others' knowledge of a person's sexual orientation. Use out instead of the outdated openly when relevant, such as in references to public figures that allow for the possibility of closeted predecessors: Tammy Baldwin was the first out lesbian member of the U.S. House of Representatives. Avoid words like acknowledged, avowed, admitted, confessed or practicing because of their inaccuracy or negative connotations.

### P

**parent**
See families, parents.

**pass, passing**
Describes someone whose sexual orientation or gender identity is seen as deceptive, ingenuine or implausible: She passes for straight. Best avoided because it can be unfounded, inaccurate, insensitive and even defamatory.

**pink triangle**
The insignia gay men were required to wear in Nazi concentration camps. It has been reclaimed as a gay pride symbol.

**pregnant people**
Acceptable phrasing to include people who are or may become pregnant but who do not identify as women. Generally avoid overly clinical terminology like people with uteruses.

**Pride, gay pride**
Lowercase in the context of generally having pride in one's sexual orientation or gender identity. Capitalized in reference to holidays and events that commemorate the Stonewall uprising of 1969. The pink triangle is now a symbol of gay pride. She couldn't wait for Pride month to arrive.

**Pride flag, rainbow flag**
Originally a flag of stripes incorporating colors of the rainbow to symbolize hope and liberation for LGBTQ+ people. Other variations have become common, including versions with pink, white, light blue, brown and black stripes to represent transgender people, communities of color and lives lost to AIDS.

### Q

**queen**
A term for an effeminate gay man that has more recently become acceptable as slang among LGBTQ+ people. It sometimes describes a shared interest or disposition, for example: soccer queens, opera queens. Queen can still be offensive when used as an epithet. See drag queen, female impersonator; slang; slurs.

**queer**
See LGBTQ+.

### R

**religious freedom, religious liberty**
Political terms sometimes used to describe efforts to allow religious beliefs to be the basis for discrimination. Avoid them in favor of more specific phrasing: The legislator introduced a bill that would allow business owners to cite religious beliefs when turning away LGBTQ+ customers, not The legislator introduced a religious freedom bill to protect business owners who disagree with homosexuality.

### S

**safe sex, safer sex**
Practices can include not just barriers such as condoms, but also medication regimens such as PrEP, which can help prevent HIV infection. Some organizations condone the term safer sex to underscore that no sexual contact is completely without risk. See HIV/AIDS.

**same-gender loving**
Culturally affirming term used by some African Americans to describe same-sex relationships.

**sex**
Biological and physiological characteristics used to classify someone as male, female or intersex. Not synonymous with gender. See transgender.

**sexual orientation, sexual identity**
Use sexual orientation instead of sexual preference, which implies a conscious choice, or sexuality, which refers to sexual activity generally, not to whom one is attracted. Sexual identity refers to a person's perception of their own sexuality and may incorporate elements of sexual orientation and gender identity. See gender identity; lifestyle.

**slang**
Like many minority communities, LGBTQ+ people have their own slang. It can be insensitive or offensive for people who are not members of an LGBTQ+ community or subcommunity to use such slang, so proceed with caution in news stories, and don't apply slang to individuals unless they use it for themselves. Some examples: twink (a young, slim gay man); lipstick lesbian (a feminine lesbian); butch (a lesbian who exhibits masculine traits); masc and fem or femme (short for masculine and feminine); bear (a large, hairy gay man). See slurs.

**slurs**
Acceptable only very rarely, such as in quotations if there is a compelling reason to include them, or if writers or story subjects are referring to themselves. Consider using hyphens in place of all but the first letter, or follow your organization's style guidelines on slurs and profanities. See dyke; fag, faggot; queer; tranny; slang.

**sodomy**
Collective term for sexual acts some jurisdictions have deemed illegal, and not synonymous with homosexuality or sex between gay men. The U.S. Supreme Court decided in 2003 in Lawrence v. Texas that state sodomy laws targeting private, consensual sex between adult partners violated the Constitution. The ruling is often seen as key in further legalization of relationships between same-sex couples.

**special rights**
Avoid this politically charged term used by opponents of civil rights for LGBTQ+ people in favor of alternatives such as LGBTQ+ rights or equal rights.

**Stonewall**
The Stonewall Inn tavern in New York City's Greenwich Village was the site of several nights of raucous protests after a police raid June 28, 1969. Although not the nation's first LGBTQ+ rights event, it is now regarded as the catalyst for the modern LGBTQ+ civil rights movement. The event is often referred to as just Stonewall: The march was the most important event since Stonewall.

**straight**
Acceptable in all references as an adjective meaning heterosexual. As a noun, use heterosexual or straight person or people.

### T

**tranny**
Do not use this derogatory slang for a transgender person. See slang; slurs.

**transgender**
Generally, transgender describes people whose gender identity and/or expression does not align with their sex assigned at birth.

But the word can mean different things to different people. Journalists covering transgender people must ensure they correctly understand and communicate the parameters of the communities about which they are reporting.

In a strict sense, the term transgender includes people who were assigned male or female at birth and later identified as the other. But it sometimes is understood as an umbrella term covering other people with nontraditional gender identities, possibly including but not limited to nonbinary, genderqueer and agender people.

Some cross-dressers, drag queens and kings, female or male impersonators, and intersex people may also identify as transgender.

In news coverage, identify people as transgender only when relevant to the subject matter and only if they are widely known or describe themselves as such. Otherwise, describe trans men as men and trans women as women.

Using it as a noun — as in a transgender or a conference of transgenders — is inaccurate and offensive. Do not use transgendered, which is offensive and implies something must have happened to make a person transgender.

People can be transgender regardless of age, but journalists should take the usual legal and ethical precautions when reporting on children.

Terminology is constantly evolving and new terms emerging. Details on some terms commonly used, or misused, in news coverage of transgender people follow:

**agender**
Refers to someone who does not identify as any gender. Not synonymous with asexual or genderqueer.

**bathroom bill**
Avoid this politically charged term for measures that seek to grant or deny public accommodations for transgender people; opponents often focus on access to public restrooms. Acceptable in direct quotes.

**biological**
Do not use phrasing like biological male to refer to transgender girls and women or biological female to refer to transgender boys and men. It oversimplifies the factors that determine a person's sex. If a quote containing those terms must be used, fact-check it within the story. Also avoid the loaded and redundant term biological sex; opponents of transgender rights often use it to misconstrue transgender identities, and sex is inherently biological.

**cisgender**
An adjective describing people whose gender identity aligns with their sex assigned at birth, that is, not a transgender man or woman. It is useful in distinguishing people by gender identity when relevant and without assuming that cisgender is the neutral or normal state. It is acceptable to shorten on subsequent references to cis. Cisgender is neutral terminology and not a slur, though some opponents of transgender rights attempt to portray it as such. Cishet, or cis-het, is sometimes used to describe people who are both cisgender and heterosexual, but it can be pejorative, so use with caution.

**detransition**
A verb or noun used to describe stopping or reversing a gender transition. It may be the result of regret or medical necessity. Studies suggest the incidence of regret is very small.

**gender**
A social construct that refers to a person's self-identity, unlike sex, which refers to biological characteristics. Gender, along with sex, is usually assigned to a person at birth by doctors, parents or others who base the decision on visible genitalia of the infant. That assignment may not match the person's actual gender, knowledge of which may emerge later. See sex assigned at birth.

**gender-bender**
A person who intentionally does not conform to predominant, binary gender roles or expression. Use only if self-referential or in a quotation where there is a compelling reason. As an adjective, gender-bending.

**gender-affirming care**
Refers to health treatments, such as counseling, puberty blockers, hormones or surgery, that help bring a person's gender expression (such as their voice, appearance or anatomy) in line with their gender identity. It is often but not always part of a gender transition; not all transgender people choose to undergo or can afford gender-affirming treatments. Gender-affirming care can serve all people, not just transgender people, and can include treatments such as breast removal or hormones for boys with gynecomastia or hair removal for girls or women with hirsutism.

Politicians and bills that call for restrictions on gender-affirming care for transgender youths and adults often avoid the term, but it is the phrasing used by leading medical groups, including the American Medical Association and the American Academy of Pediatrics. Opponents of such treatments often inaccurately describe them as experimentation or mutilation, but they have been standard practice for decades to treat gender dysphoria and are not controversial within most credible medical circles.

Some gender-affirming care for transgender people may also be known by such terms as sex reassignment, sex realignment, gender affirmation or gender confirmation.

If surgery is involved, gender-affirming or gender-affirmation surgery. Avoid abbreviations such as GAS, GCS or SRS.

Refer to a person's gender-affirming care only when relevant. Avoid overemphasizing the role of surgery in the transition process, and avoid the obsolete term sex change. When relevant, top surgery and bottom surgery can be used to describe gender-affirming operations on the chest and genitalia, respectively. Do not describe people as pre-op or post-op.

**gender dysphoria**
Medical diagnosis that identifies the distress people experience when their gender identity does not align with their gender expression. This diagnosis is often a prerequisite for transgender people to receive gender-affirming care. Avoid the obsolete term gender identity disorder.

**gender expression**
The appearance, traits and mannerisms someone presents to communicate gender identity. Any traits (masculine, feminine, androgynous) can be present in people of any gender or gender expression. Gender expression may or may not match a person's sex.

**genderfluid, genderfluidity**
Refers to a person whose gender identity or expression is not fixed but can vary between, and extend beyond, male and female.

# Gender Terminology Style Guide

## Gender Identity

A person's emotional and psychological sense of having a gender; feeling like a man, woman, both or neither. Does not necessarily align with a person's sex assigned at birth.

## Gender-Nonconforming

**Adjective:** gender-nonconforming  
**Noun:** gender nonconformity

When a gender identity or expression does not necessarily adhere to the traditional view of two genders. Avoid the related academic term *gender variant*.

## Gender Transition / Transition

The process by which transgender people change their characteristics from those associated with the sex assigned to them at birth. It occurs over time and may include the following:

- Adopting the aesthetic markers of the new gender, such as makeup or facial hair
- Telling one's family, friends and/or coworkers
- Changing one's name and/or sex on legal documents
- Hormone therapy
- Surgery or other body modification procedures

Mention a person's gender transition in a story, and its details, only when relevant. Avoid the obsolete term *sex change*. Not synonymous with gender confirmation/affirmation or sexual reassignment.

## Gender Variant

**Do not use** this term related to gender-nonconforming except in academic writing.

## Genderqueer

An identity related to nonbinary and gender-nonconforming in that it describes a person who does not subscribe to gender norms. Use only when relevant and only when people describe themselves as such.

## Nonbinary

Refers to a person whose gender identity and/or expression is not strictly male nor female. Nonbinary people may identify as somewhere between male and female or reject a binary categorization of gender altogether. Use only if people refer to themselves as nonbinary, or in quotations or names of organizations.

## Pronouns

If sources share a transgender or gender-nonconforming identity on the record, ask which pronouns they use and incorporate them into your report as needed. They/them/their are acceptable as singular, gender-neutral pronouns if the subject uses them. Alternative gender-neutral pronouns, such as zie/zim/zis and sometimes called neopronouns, are acceptable if requested but may require extra explanation in a story or broadcast.

Use of *they* as a singular pronoun has become common enough that it should not require explanation in a story. Journalists should use their judgment and consult with their sources, when possible, on whether a passage containing a gender-neutral pronoun needs to be recast for clarity, whether it makes sense to explain the pronoun in the story, and whether it would dishonor the story subject to avoid using pronouns.

**Example:** The meaning of the sentence "Robert Sanchez, a member of the group of environmentalists, said they disagree with points of the organization's mission" hinges on whether *they* refers to Sanchez or environmentalists. The options for recasting would depend on the context available to the journalist and on the story's audience.

Some people use multiple pronouns, such as she/they or he/she/they. Especially in longer pieces, look for ways to incorporate both or all a person's pronouns without confusing the reader; don't automatically default to one unless the person agrees to it.

**Avoid** references to "preferred pronouns" because doing so implies that calling people other than what they want to be called is a viable alternative. **Avoid** references to "chosen pronouns" because they are not always chosen. 

**Instead, when relevant:** "Sanchez, who uses the pronoun they" or "Sanchez, whose pronouns are they/them/their."

## Sex Assigned at Birth

Proper term for the classification of a baby by doctors, parents or others as male, female or intersex, judging by visible genitalia at birth that may not align with a person's true sex or future gender identity. Especially in contexts of gender identity, avoid using just *sex*; often the key distinctions are the assignment and its timing. *Assigned sex* is acceptable on subsequent references. Generally avoid the abbreviations AFAB (assigned female at birth) and AMAB (assigned male at birth). **Do not use** *biological sex*. See biological.

## Sex Change

**Avoid** this obsolete term in favor of *gender transition* or *gender affirmation*.

## TERF

Short for trans-exclusionary radical feminist. A TERF is an adherent of trans-exclusionary radical feminism, a specific ideology that opposes letting people be classified socially or legally as anything other than the gender they were assigned at birth. People who do not describe themselves as TERFs may object to the term and may instead refer to themselves as *gender-critical*. The term TERF is specific to people who subscribe to trans-exclusionary radical feminism, but it is often broadly misapplied as a synonym for anyone who espouses transphobic beliefs. If you use TERF or gender-critical in stories, define the terms and be specific about a person's or group's actions and beliefs. See *transphobia*.

## Trans

Colloquial shorthand for transgender. Useful in subsequent references, in headlines, and when paired with man, woman, boy or girl.

## Transgender Man/Boy

A person who was assigned female at birth but identifies and/or lives as male. Usually shortened to *trans man* or *trans boy*, with the space, not *transman* or *transboy*. Use only when the subject prefers it and when transgender status is relevant; otherwise, identify a news subject as a man or a boy, as appropriate. In statistics, the abbreviation FTM, or female-to-male, may be used.

## Transgender Woman/Girl

A person who was assigned male at birth but identifies and/or lives as female. Usually shortened to *trans woman* or *trans girl*, with the space, not *transwoman* or *transgirl*. Use only when the subject prefers it and when transgender status is relevant; otherwise, identify a news subject as a woman or a girl, as appropriate. In statistics, the abbreviation MTF, or male-to-female, may be used.

## Transgendered

**Do not use** this offensive term that carries negative connotations, including the implication that something must have happened to make a person transgender, or that being transgender is a choice.

## Transgenderism / Gender Ideology

**Do not use** these terms that falsely portray gender identity as an ideology.

## Transphobia

Fear, hatred or dislike of transgender people, and/or prejudice and discrimination against them. May be harbored by people of any sexual orientation or gender identity, including trans people themselves.

## Transsexual

**Avoid** this obsolete term for transgender unless the subject prefers it. Consider paraphrasing quotes containing the term, which may inaccurately imply a person has undergone gender-affirming surgery.

## Two-Spirit

**Noun and adjective:** An Indigenous person in North America believed to possess a mixture of masculine and feminine spirits. Not synonymous with any communities that form the LGBTQ+ umbrella, though two-spirits can also consider themselves LGBTQ+. Its use and meaning can vary by tribe and individual. Use only in broad references or if an individual uses it. Lowercase and hyphenated unless part of a proper name or title. **Do not use** the adjective *two-spirited*, which can carry disrespectful connotations.