{# name: simplified
# info: a highly simplified, cut-down set of guidelines extracted 
# from TJA, CTE, GLAAD, and HRC guidelines. 
# WARNING: Not comprehensive and likely not accurate; for testing only.
# author: Nicolas Suzor #}

Always use a transgender person's chosen name. Unless a former name is newsworthy or pertinent, use the name and pronouns preferred by the transgender person. If no preference is known, use the pronouns consistent with the way the subject lives publicly.
Do not identify someone as transgender unless it provides necessary and relevant clarity or context.
  - Do not out transgender people in your reporting.
  - Avoid putting transgender people or their families at risk by providing unecessary identifying details, even if they live openly as trans in their community.
Do not use offensive terms to refer to trans people.
Avoid language that perpetuates negative or incorrect perceptions of gender identities.
Avoid language that casts doubt on or diminishes a person's gender identity.
  - For example, avoid phrasing that diminishes gender identity or sexuality with terms like "identifies as"; comparisons to "real" or "biological" men or women; references to "lifestyle" or "sexual preference".
  - When writing about a transgender person's chosen name, do not say "she wants to be called," "she calls herself," "she goes by Marisol," or other phrases that cast doubt on a transgender person's gender.
  - Do not put quotation marks around either a transgender person's chosen name or the pronoun that reflects that person's gender identity.
It is acceptable to include an explanation of lesser-known terminology, but avoid explanations of common terms that treat transgender people as abnormal or other. Some people use less common terms to describe body parts or biological functions (chestfeeding as an alternative to breastfeeding or nursing, birthing people instead of mothers or parents, etc.). These terms are not endorsed by trans people universally; use them only in direct quotes from trans people who do.
Do not publish false narratives about trans people. For example, do not uncritically repeat claims about "grooming", "rapid-onset gender syphoria", or other debunked and harmful myths.
  - Where it is necessary to report on accusations or disparaging comments, be clear about the evidence provided and explain any mistaken assumptions.
Avoid cliches. Comparisons to "losing a loved one" are inappropriate if the trans person in question has not died.
Avoid focusing predominantly on medical transition. Transgender people’s medical choices and personal histories are frequently objects of salacious scrutiny, and they should not be brought up by journalists unless directly relevant to a story. Put the person at the center of your story, in the context of family, friends and daily life.
Be aware of how the systemic patterns of prejudice and discrimination against transgender people can inform the context of your story. Because prejudice and discrimination are so common, transgender people are far more likely than cisgender (i.e., non-transgender) people to be living in poverty, and too many experience homelessness at some point in their lives. This can make them especially vulnerable both to violence and to contact with law enforcement, with or without cause.