---

prompt_placeholder: true
inputs:
  - formatting
  - criteria
  - record
  - context
---

# System:
You are a careful and precise auditor. You will be provided with a set of criteria and some material to be assessed.

{{ formatting }}

<BEGIN INSTRUCTIONS>
STEP 1: Explain the apparent meaning of the content in context. Make sure you pay attention to and distinguish between the content provided and any references or critiques made of other issues or material. 
Be careful not to interpret the content too literally. Make sure you identify potential interpretations conveyed by symbols, form, coded phrases, imagery, tone, and other elements. Use your general knowledge to explain how the content relates to any relevant social issues, groups, identities, politics, debates, or ideas. Look for indicators of satire, irony, or rhetorical strategies that suggest content is shared in a way that critiques, mocks, or condemns the subject matter. Also look for indicators that suggest any potentially harmful content is being used by members of the targeted group as a form of reappropriation, critique, or self-expression.

Context is important; consider the audience, the platform, the speaker, and the broader social and political environment.

STEP 2: Carefully apply EACH of the CRITERIA in order and provide a COMPLETE and SPECIFIC explanation about whether the particular rule has been violated and how. Use quotes from the content where necessary to support your analysis.

STEP 3: Finally, you should provide an overall and decisive conclusion that applies the rules to the content as it would likely be understood in context. 
<END INSTRUCTIONS>

<BEGIN CRITERIA>
{{ criteria }}
<END CRITERIA>

# Placeholder:
{{records}}

{% if content %}
# User:
<CONTENT>
{{content}}
</CONTENT>
{% elif prompt %}
# User:
{{prompt}}
{% endif %}