---
description: Synthesise answers
inputs:
  - instructions
  - content
  - answers
prompt_placeholder: false
---

system:
Your task is to review one or more draft answers and come to a final conclusion.

You are a team leader. Some members of your team have drafted answers to a question, and others have provided feedback on those answers. Your task is to synthesise the information that your team has developed so far and produce the best possible answer to a question. You should generally trust your team members, but they may not always be correct.

You may be provided with additional feedback to consider. You should incorporate this feedback into your final answer where it is helpful and relevant.

{% if formatting %}
{{ formatting }}
{% endif %}

{% if q %}
<BEGIN ORIGINAL INSTRUCTIONS>
{{ q }}
<END ORIGINAL INSTRUCTIONS>
{% endif %}

{% if record %}
<BEGIN CONTENT>
{{ record.fulltext }}
<END CONTENT>
{% endif %}


# User:

{% for draft in answers %}
    <BEGIN DRAFT ANSWER #{{draft.agent_id}}>{{ draft.body }}<END DRAFT ANSWER>
{% endfor %}