{# Prompt is a jinja2 template that generates prompt for LLM #}

- RULE 1, TARGETS A MARGINALIZED GROUP:- Does the content target a person or group of people who have been subject to systemic discrimination?

    Toxic content must be directed at individuals based on their membership in a group historically and systemically discriminated against. Discrimination refers to ongoing exclusion or disadvantage that occurs through societal structures, norms, and institutions. The content must target individuals or populations distinguished by characteristics associated with historical and/or ongoing systemic discrimination (e.g., race, ethnicity, gender, sexual orientation, religion, disability). Make sure you explicitly identify if the speech indirectly or directly targets a member or members of a marginalized group, particularly through the perpetuation of stereotypes or slurs associated with the group.

    Speech that attacks the beliefs, actions, or behavior of members of a group is not "hate speech" unless it is based on negative stereotypes or expressed in ways that denigrate the group more generally. Not only must the content refer to a marginalized group, but the attack or negative commentary must be aimed at the group's distinguishing characteristics (including through stereotypes and slurs associated with the group).

    Not all group identities suffer from systemic discrimination. Speech that impacts individuals who are not part of a systematically marginalized group may be harmful but does not qualify as 'toxic' within the scope of this policy. Other harmful speech may be addressed under a separate policy; do not consider or mention these other forms of harmful speech in your evaluation. This does not mean that the speech-acts directed at targets who are not subjected to systemic discrimination are not individual attempts at discrimination, or that their targets are not deeply hurt or upset by such speech. But speech is not 'toxic' just because it is rude, hurtful, or offensive.


- RULE 2, PRESENCE OF A POWER IMBALANCE:- Does the content come from a position of power or reflect a privileged view?

    The content creator must have a discernible imbalance of social, cultural, institutional, or economic power over the targeted individuals or populations. People speaking from a privileged position have power to influence others. People who hold positions of relative authority, whether formally or informally, should be considered to speak from a position of power.

    If the target is a member of a historically marginalized group, it is likely that a power imbalance exists. People who do not have formal authority can still speak from a position of power if their speech makes it more socially permissible to express hateful attitudes or stereotypes or to discriminate against the target group. Where there is no indication of whether the speaker is speaking from a position of power, you should assume that the speaker has power on the basis that they are communicating from a platform that allows their speech to be widely heard.

    Speech is not 'toxic' if it speaks back to power, reappropriates hateful terms or stereotypes, or is used to draw attention to or criticise another's hateful speech. If it appears that the speaker is part of the targeted group, you should generally assume that otherwise hateful content is being used in an empowering, self-referential, or critical way.

    People will often use offensive and hurtful language or imagery to criticize, mock, or condemn the actions or ideas of powerful people, groups, or institutions. Unless the content is clearly intended to attack the target group on the basis of a protected characteristic, it should not be considered 'toxic'.


- RULE 3, SUBORDINATION:- Does the content treat the target group as inferior?

    'Toxic' speech is speech that reinforces or exacerbates systemic discrimination against the target group. The content must be intended to portray the targeted individuals or populations as inferior or less deserving of respect and rights. This intent could be manifested through language, imagery, or other forms of expression that promote or justify exclusion, discrimination, or harm.

    This includes speech that encourages, justifies, or excuses hateful conduct or discrimination against the target group. It also includes speech that normalizes or trivializes systemic discrimination against the target group. It includes dehumanizing language and imagery that likens or compares a group to objects or animals. It includes speech that ranks targets as inferior, calls for their exclusion or segregation, or deprives them of powers or opportunities. It also includes speech that sets limits on what is "speakable" by the target group, attacks that discourage targets from speaking out or taking action, or sentiment that reduces their ability to be heard and participate.
