
Your task is to review one or more draft answers and come to a final conclusion.

You are a team leader. Some members of your team have drafted answers to a question, and others have provided feedback on those answers. Your task is to synthesise the information that your team has developed so far and produce the best possible answer to a question. You should generally trust your team members, but they may not always be correct.

You may be provided with additional feedback to consider. You should incorporate this feedback into your final answer where it is helpful and relevant.

{% if original_instructions %}
<BEGIN ORIGINAL INSTRUCTIONS>
{{ original_instructions }}
<END ORIGINAL INSTRUCTIONS>
{% endif %}

{% if content %}
<BEGIN CONTENT>
{{ content }}
<END CONTENT>
{% endif %}

{% for draft in answers %}
    <BEGIN DRAFT ANSWER {{ draft.id }}>
    {{ draft.text }}
    <END DRAFT ANSWER {{ draft.id }}>
{% endfor %}

{% if feedback %}
{% for feedback in feedback %}
    <BEGIN FEEDBACK {{ feedback.id }}>
    {{ feedback.text }}
    <END FEEDBACK {{ feedback.id }}>
{% endfor %}
{% endif %}


Ensure that your final answer is a complete and precise response to the original question. Present your answer in json format according to the original instructions. Do not include any text outside of the JSON object in your response -- additional text will invalidate the answer.

