{# name: cte
# info: Guidelines from the National Center for Transgender Equality
# author: National Center for Transgender Equality
# link: https://transequality.org/resources/tips-journalists
# date-retrieved: 2024-09-03 #}
Covering Transgender People Generally
Name and Pronoun
Use the name and pronoun the subject asks you to use. See:

The Associated Press Style Book (2011 Edition):
Reporters should “use the pronoun preferred by the individuals who have acquired the physical characteristics of the opposite sex or present themselves in a way that does not correspond with their sex at birth. If that preference is not expressed, use the pronoun consistent with the way the individuals live publicly.”

New York Times Style Book (2005) says:
“Cite a person’s transgender status only when it is pertinence is clear to the reader. Unless a former name is newsworthy or pertinent, use the name and pronouns (he, his, she, her, hers) preferred by the transgender person. If no preference is known, use the pronouns consistent with the way the subject lives publicly.”

Key Issues
In 2015, we conducted the US Transgender Survey, which asked nearly 28,000 transgender people from around the country about their experiences. It has fascinating and revealing findings about the barriers transgender people face to health care, accurate identity documents, employment, fair treatment under the law, and much more. We also have breakout reports on the experiences of Black and Latinx transgender people, as well as individual breakout reports by state.

Violence: Transgender people—and transgender women of color specifically—face severe risks for a variety of types of violence, including intimate partner violence, violence fueled by transphobic and homophobic hatred, and violence from law enforcement and corrections officials. For more on accurate and sensitive reporting of this matter, read More Than A Number: Shifting the Media Narrative on Transgender Homicides from GLAAD.
Health Care: Transgender people often lack access to basic, comprehensive healthcare. Many medical providers do not provide sex-specific care for transgender patients, or outright deny all care to people who disclose their gender identity.
Identification Records: A patchwork of state and local laws make it difficult for transgender people to update drivers licenses, birth certificates and other identification records with accurate name and gender markers. The inability to update these records makes it difficult for transgender people to secure bank accounts, attend school, or get a job and make people vulnerable to discrimination and violence in everyday life.
Employment: Anti-transgender bias often plays a subtle role in recruiting, hiring, training, and promoting transgender employees. Transgender people experience twice the rate of unemployment as the general population. Transgender people often have trouble even getting minimum wage, entry level jobs, and are forced into criminalized activities to survive.
Criminal Justice: Transgender people face routine bias from law enforcement and correctional authorities, ranging from profiling and harassment to abuse and assault. This fosters an environment of mistrust between transgender people and law enforcement, leaving many transgender people with no where to turn when they are at risk or actively facing violence.
Key Terminolgy for the Transgender Community
Terminology within the transgender community varies and has changed over time so we recognize the need to be sensitive to usage within particular communities. Learn more here.

Transgender: A term for people whose gender identity, expression or behavior is different from those typically associated with their assigned sex at birth. Transgender is a broad term and is good for non-transgender people to use. “Trans” is shorthand for “transgender.” (Note: Transgender is correctly used as an adjective, not a noun, thus “transgender people” is appropriate but “transgenders” is often viewed as disrespectful.)
Transgender Man: A term for a transgender person who currently identifies as a man.
Transgender Woman: A term for a transgender person who currently identifies as a woman.
Nonbinary: People whose gender is not male or female use many different terms to describe themselves, with nonbinary (sometimes spelled "non-binary") being one of the most common. Other terms include genderqueer, agender, bigender, and more. None of these terms mean exactly the same thing – but all speak to an experience of gender that is not simply male or female.
Gender Identity: An individual’s internal sense of being male, female, or something else. Since gender identity is internal, one’s gender identity is not necessarily visible to others.
Transition: The time when a person begins living as the gender with which they identify rather than the gender they were assigned at birth, which often includes changing one’s first name and dressing and grooming differently. Transitioning may or may not also include medical and legal aspects, including taking hormones, having surgery, or changing identity documents (e.g. driver’s license, Social Security record) to reflect one’s gender identity. Medical and legal steps are often difficult for people to afford.